<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up / Login Page</title>
    <link rel="stylesheet" href="static/Styles/forgot-create-page.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
      rel="stylesheet"
    />
    <script src="../static/Script/functions.js"></script>
  </head>

  <body>
    <div class="container">
      <!-- Forgot Password Section -->
      <div class="forgot-container">
        <p class="main-text">Forgot Password</p>
        <p class="information-text">
          Please enter the email address or username you'd like your password
          reset information sent to
        </p>
        <form>
          <input class="input" placeholder="Email" />
          <input class="input" placeholder="Username" />
          <button class="request-button">Request Reset Link</button>
        </form>
        <a class="back-to-login-text" href="/login_page">Back To Login</a>
      </div>

      <!-- Sign Up Section -->
      <div class="signup-container">
        <p class="main-text">Sign Up</p>
        <form action="/sign_up" method="POST" oninput="validatePasswordReq();validateEmail();">
          <input type="email" class="input-email" id="email" name="email" placeholder="Email" />
          <input type="email" class="input" id="confirm_email" name="confirm_email" placeholder="Confirm Email" />
          <input type="password" class="input" id="password" name="password" placeholder="Password" />
          <input type="password" class="input" id="confirm_password" placeholder="Confirm Password" />
          <button type="submit" id="sign_up" value="sign_up" class="request-button">Sign Up</button>
        </form>
        <a class="back-to-login-text" href="/login_page">Back To Login</a>
      </div>
    </div>

    <!-- JavaScript for Validation -->
    <script>

    </script>
  </body>
</html>
