<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link rel="stylesheet" href="../static/Styles/profile.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="static/Script/profile.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  </head>

  <body>
    <div class="lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>    

    <div class="banner">
      <div>
        <p class="banner-text"><a class = "link-text" href ="/dashboard">Home</a> / User</p>
      </div>
    </div>

    <div class="center-flex">
      <div class="left-flex">
        <div class="info-container user-bio">
          <div class="user-image-div">
            <img class = "user-image" src="static/Images/mentee1.jpg" alt="User" />
          </div>

          <div class = "user-details">
            <p class = "name">Dimple</p>
            <p class = "location">Full Stack Developer</p>
          </div>

          <div class = "edit-bio-div">
            <input class = "bio-input" placeholder = "Edit Bio"/>

          </div>
        </div>

        <div class="info-container preferences">
          <div class = "preferences-div">
            <p class = "preferences-text">Preferences</p>
          </div>
          
          <ul class="cd-demo-chip-list">
            <li>
              <span class="chip">
                <i class="chip__label">Experience Level</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>

            <li>
              <span class="chip">
                <i class="chip__label">Higher Expertise</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>

            <li>
              <span class="chip">
                <i class="chip__label">Communication Style</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>

            <li>
              <span class="chip">
                <i class="chip__label">Frequent Availability</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>

            <li>
              <span class="chip">
                <i class="chip__label">Flexible Scheduling</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>

            <li>
              <span class="chip">
                <i class="chip__label">Goal Alignment</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>

            <li>
              <span class="chip">
                <i class="chip__label">Career Growth Focus</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>

            <li>
              <span class="chip">
                <i class="chip__label">Industry Specific Experience</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>

            <li>
              <span class="chip">
                <i class="chip__label">Hands-On Learning</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>

            <li>
              <span class="chip">
                <i class="chip__label">Theoretical Learning</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>

            <li>
              <span class="chip">
                <i class="chip__label">Constructive Feedback</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>

            <li>
              <span class="chip">
                <i class="chip__label">Positive Reinforcement</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>

            <li>
              <span class="chip">
                <i class="chip__label">Shared Values</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>

            <li>
              <span class="chip">
                <i class="chip__label">Cultural Alignment</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>

            <li>
              <span class="chip">
                <i class="chip__label">Technical Skill Develpment</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>

            <li>
              <span class="chip">
                <i class="chip__label">Soft Skill Growth</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>

            <li>
              <span class="chip">
                <i class="chip__label">Short-Term Project</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>

            <li>
              <span class="chip">
                <i class="chip__label">Long-Term Mentorship</i>
          
                <button class="chip__btn">
                  <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                </button>
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="right-flex">
        <div class="info-container user-info">
          <div class="input-div">
            <p class="info-paragraph">First Name</p>
            <input placeholder = "Dimple"/>
          </div>

          <div class="input-div">
            <p class="info-paragraph">Last Name</p>
            <input />
          </div>

          <div class="input-div">
            <p class="info-paragraph">Email</p>
            <input placeholder = "dimple12@gmail.com"/>
          </div>

          <div class="input-div">
            <p class="info-paragraph">Password</p>
            <input placeholder = ";alskdfkl;asdf">
          </div>

          <div class="input-div">
            <p class="info-paragraph">Mobile</p>
            <input placeholder = "123-123-1234"/>
          </div>

          <div class="input-div">
            <p class="info-paragraph">Position</p>
            
            <div class="input-container radio-group">
              <div class = input-radio>
                <label class="radio-label">
                  <input type="radio" class = "role" name="role" value="mentee" required />
                  <p>Mentee</p>
                </label>
                <label class="radio-label">
                  <input type="radio" class = "role" name="role" value="mentor" />
                  <p>Mentor</p>
                </label>
              </div>
            </div>
          </div>

          <div class="edit-button-div">
            <button class="save-button">Save Changes</button>
          </div>
        </div>

        <div class="preferences-flex">
          <div class="info-container preferences">
            <div class = "preferences-div">
              <p class = "preferences-text">Skills</p>
            </div>
            
            <ul class="cd-demo-chip-list">
              <li>
                <span class="chip chip--interactive">
                  <button class="chip__label" id="select">Programming</button>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">Data Structures</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">Algorithms</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">Database Management</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">Software Development</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">Version Control</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">Operating Systems</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">Networking</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">Cybersecurity</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">Cloud Computing</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">Ruby</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">JavaScript</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">C++</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">Java</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">Python</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">Artificial Intelligence</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">Mobile App Development</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">Object-Oriented Programming</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>

              <li>
                <span class="chip">
                  <i class="chip__label">Web Development</i>
            
                  <button class="chip__btn">
                    <svg class="cd-icon" viewBox="0 0 12 12"><title>Delete attribute</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><line x1="3" y1="3" x2="9" y2="9"/><line x1="9" y1="3" x2="3" y2="9"/></g></svg>
                  </button>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
