html {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainFlexBox {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  width: 1000px;
  margin-top: 150px;
  padding-right: 250px;
}

.imageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:500px;
  background-color: darkgray;
}

.happy {
  width: 300px;
  height: 300px;
}

.login-flex {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  row-gap: 30px;
  margin-left: 280px;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 1px;
  color: black;
  font-weight: 400;
}

.input {
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 17px;
  color: #666;
  background: #e6e6e6;
  display: block;
  width: 290px;
  height: 45px;
  padding-left: 30px;
  line-height: 1.5;
}

.loginButton {
  width: 100%;
  height: 50px;
  border-radius: 250px;
  background-color: rgb(220, 180, 0);
  border: none;
  transition: background-color 0.1s;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
}

.forgot-text {
  color: #666;
  margin-top: -12px;
  cursor: pointer;
}

.create-text {
  color: #666;
  cursor: pointer;
  margin-top: -35px;
}

.password {
  margin-top: -12px;
}

.loginButton:hover {
  background-color: rgb(240, 200, 0);
  cursor: pointer;
}

.loginButton {
  background-color: rgb(220, 180, 0);
  cursor: pointer;
}
